################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.ipch
*.db
/.vs/CSC8503/FileContentIndex/read.lock
/.vs
/build
/out/build/x64-Debug

x64/
*.lib
*.pdb
